header
  display: flex
  position: fixed
  width: 100%
  font-family: Arial
  justify-content: space-between
  align-items: center
  height: 8vh
  z-index: 2
.logo
  display: flex
  align-items: center
  padding: 10px 20px
  color: rgb(5,204,172)
  &-title
    width: 10rem
    padding-left: 5px
    margin-left: 5px
    border-left: 3px solid rgb(5,204,172)
    &-main
      font-size: 22px
    &-subtitle
      font-size: 14px
      font-weight: bold
.nav
  margin: 0px 20px 0px 0px
  display: flex
  align-items: center
  height: 100%
.menu-list
  display: flex
  list-style: none
  flex-direction: row
  font-size: 1rem
  height: 32px
  & li
    margin: 0px 0px 0px 0px
    display: block
    width: 180px
    text-align: center
    & button
      min-width: 150px
      min-height: 20px
      font-size: 12px
      text-transform: uppercase
      letter-spacing: 1.3px
      font-weight: 700
      color: #313133
      background: #4FD1C5
      background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%)
      border: none
      border-radius: 1000px
      box-shadow: 12px 12px 24px rgba(79,209,197,.64)
      transition: all 0.3s ease-in-out 0s
      cursor: pointer
      outline: none
      position: relative
      padding: 10px
      &:hover
        color: #313133
        transform: translateY(-6px)
      &:hover::after, button:focus::after
        animation: none
        display: none


@keyframes ring
  0%
    width: 30px
    height: 30px
    opacity: 1
  100%
    width: 300px
    height: 300px
    opacity: 0



ul.scrollballs
  display: block
  position: fixed
  right: 30px
  top: 45%
  width: 10px
  list-style: none
  height: 100%

@keyframes spinner-loader
  0%
    //-moz-transform: rotate(0deg)
    //-ms-transform: rotate(0deg)
    //-webkit-transform: rotate(0deg)
    //transform: rotate(0deg)
    border-color: rgba(255,0,0,1)
    border-radius: 0%

  100%
    //-moz-transform: rotate(360deg)
    //-ms-transform: rotate(360deg)
    //-webkit-transform: rotate(360deg)
    //transform: rotate(360deg)
    border-color: gray
    border-radius: 100%



li.scrollball
  -moz-animation: spinner-loader 1500ms ease-in
  -webkit-animation: spinner-loader 1500ms ease-in
  animation: spinner-loader 1500ms ease-in
  //border-radius: 50%
  border-radius: 100%
  border: 2px solid gray
  display: block
  margin: 20px auto
  width: 15px
  height: 15px
  background-color: transparent
  transition: background-color ease-in 1500ms

li.selected
  transition: background-color ease-in 1500ms
  background-color: purple





