<main>
  <section id="main" class="main">
    <div class="photo">
      <img src="./assets/img/main-page.jpg" alt="photo psychologist">
    </div>
    <div class="article">
      <div class="article-title"><h1>КОНСУЛЬТАЦИЯ ПСИХОЛОГА</h1></div>
      <div class="article-text">
        <p>Гармоничная, спокойная и уверенная в себе личность формируется в результате упорной работы над собой.</p>
        <br>
        <p>Яхина Расима – профессиональный психолог, работающий по одобренным научным сообществом и действенным методам.
          онлайн психолог</p>
      </div>
    </div>
  </section>
  <section id="about" class="about">
    <div class="article">
      <div class="article-title"><h1>Обо мне</h1></div>
      <div class="article-text">
        <p>Гармоничная, спокойная и уверенная в себе личность формируется в результате упорной работы над собой.</p>
        <br>
        <p>Яхина Расима – профессиональный психолог, работающий по одобренным научным сообществом и действенным методам.
          онлайн психолог</p>
      </div>
    </div>
    <div class="photo">
      <img src="./assets/img/about-page.jpg" alt="about psychologist">
    </div>
  </section>
  <section id="consult" class="consult">
    <div class="consult-header">
      <h1>ИНДИВИДУАЛЬНАЯ КОНСУЛЬТАЦИЯ</h1>
    </div>
    <div class="consult-options">
      <div class="consult-option">
        <img src="./assets/img/consult-option1.jpg" alt="consult variant 1">
        <h2 class="consult-option-title">Психологическая поддержка</h2>
        <div class="consult-option-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi delectus
          deleniti excepturi fugiat illum provident tenetur voluptatibus. Dolorem esse eveniet, explicabo ipsa nostrum
          officiis praesentium quaerat temporibus vitae voluptatem, voluptatum.
        </div>
      </div>
      <div class="consult-option">
        <img src="./assets/img/consult-option2.jpg" alt="consult variant 2">
        <h2 class="consult-option-title">Найти смысл жизни</h2>
        <div class="consult-option-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa error nemo
          quaerat vel! Assumenda harum quae sapiente. Blanditiis exercitationem itaque libero magnam maiores minima,
          odio placeat, quaerat quis tempora voluptatem.
        </div>
      </div>
      <div class="consult-option">
        <img src="./assets/img/consult-option3.png" alt="consult variant 3">
        <h2 class="consult-option-title">Обрести уверенность в себе</h2>
        <div class="consult-option-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          architecto distinctio dolores, excepturi expedita fuga minima nihil non numquam obcaecati quas quis rerum sit
          temporibus tenetur totam, ullam voluptates voluptatum.
        </div>
      </div>
      <div class="consult-option">
        <img src="./assets/img/consult-option4.jpg" alt="consult variant 4">
        <h2 class="consult-option-title">Вновь обрести радость жизни</h2>
        <div class="consult-option-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium autem
          beatae cupiditate distinctio earum exercitationem illum officiis suscipit voluptatibus. Amet commodi
          consequuntur delectus ducimus, libero minus repudiandae veritatis voluptatum!
        </div>
      </div>
    </div>
    <div class="consult-button">
      <button>ЗАПИСАТЬСЯ</button>
    </div>
  </section>
  <section id="sign" class="sign">
    <h1 class="sign-heading">Записаться на консультацию психолога онлайн</h1>
    <div class="sign-cards">
      <div class="sign-card">
        <img src="./assets/img/envelope.png" alt="envelope" class="sign-card-img">
        <div class="sign-card-title">Отправить заявку с сайта</div>
        <div class="sign-card-description">Просто заполните специальную форму. На это уйдет не более пары минут.</div>
      </div>
      <div class="sign-card">
        <img src="./assets/img/card.png" alt="credit card" class="sign-card-img">
        <div class="sign-card-title">Оплатить конусльтацию</div>
        <div class="sign-card-description">Внести оплату можно через перевод на банковскую карту. После того как заявка
          будет получена и согласуется время и дата, то вам будут высланы реквизиты для оплаты.
        </div>
      </div>
      <div class="sign-card">
        <img src="./assets/img/consult.png" alt="consultation" class="sign-card-img">
        <div class="sign-card-title">Получить консультацию психолога</div>
        <div class="sign-card-description">В назначенный день и указанное время психолог свяжется в сами для проведения
          консультации.
        </div>
      </div>
    </div>
  </section>
  <section id="form" class="form">
    <div class="contact-from">
      <h1 class="contact-title">Отправить сообщение</h1>
      <p class="contact-description">Вместе мы сможем решить любую психологическую проблему. Если вам нужна помощь
        терапевта, то просто заполните форму ниже, указав свои контактные данные и кратко описав вопрос. С вами свяжутся
        в ближайшее время.
      </p>
      <div class="contact-window">
        <div class="contact-window-left">
          <div class="input-name">
            <label for="name">Имя</label>
            <input type="text" id="name">
          </div>
          <div class="input-sirname">
            <label for="sirname">Фамилия</label>
            <input type="text" id="sirname">
          </div>
          <div class="input-email">
            <label for="email">Email</label>
            <input type="text" id="email">
          </div>
        </div>
        <div class="contact-window-right">
          <div class="textarea-descr">
            <label for="message">Сообщение</label>
            <textarea name="message" id="message" ></textarea>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="connect" class="connect">
    <div class="photo">
      <img src="./assets/img/main-page.jpg" alt="photo psychologist">
    </div>
    <div class="socials">
      <div><a href="https://vk.com/id426031925"><img src="./assets/img/vk.png" alt="vk"></a></div>
      <div><a href="https://t.me/Rasima_Yakhina"><img src="./assets/img/tg.png" alt="telegram"></a></div>
      <div><a href="https://api.whatsapp.com/send?phone=79991300885"><img src="./assets/img/wh.png" alt="whatsupp"></a></div>
      <div><a href="https://www.instagram.com/rasima__yakhina_bk88/"><img src="./assets/img/inst.png" alt="instagram"></a></div>
    </div>
  </section>
</main>
